* {
    font-size: "Open Sans", sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    font-size: 2rem;
}

.modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

.close {
    float: right;
    font-weight: bold;
    color: #aaaaaa;
}

.modal-content label {
    font-size: 1rem;
}

.close:hover,
.close:focus {
    cursor: pointer;
    color: #000;
}

main {
    margin-top: 40px;
    height: 100%;
}

.loading {
    width: 100%;
    height: 100%;
    display: none;
}

.loading img {
    display: block;
    width: 30%;
    margin: auto;
}

.article-group {
    display: flex;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid blue;
}

.article-image {
    width: 200px;
}

.article-info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.article-published-at {
    font-style: italic;
}

@media screen and (max-width: 768px) {
    .article-group {
        flex-direction: column;
    }
    .article-image {
        width: 100%;
    }
}